:root {
    --bg-html-color:#171717;
    --text-color: #ffffff;
    --intext-color:#fbe6a2;
    --search-color:#a2a2a2;
    --searchbg-color:#000000;
   
}

.html, body, header, main {
    background-color: var(--bg-html-color);
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
    font-family: "Jua", sans-serif;
}
h1 {
    /* 2번 */
    font-family: "Poetsen One", sans-serif;
    font-size: 60px !important;
    background-color: var(--bg-html-color);
    color: var(--text-color);
    padding-top: 20px;
    /* display: flex;
    align-items: center; */
    margin: 20px;
    
}
.mainimg { 
    background-color: var(--bg-html-color);
    padding: 10px 0;
  max-width: 80px;
  vertical-align: middle;

}

header {
    background-color: var(--bg-html-color);
    color: var(--text-color);
    padding: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header h2 { 
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    margin: 20px auto 20px auto;
    color: var(--intext-color);
    font-size: 20px;
    width: 200px;

}
.inputDiv {
   
    display: flex;
    justify-content: center;
    width: 600px;
}
input[type="text"] {
    font-family: "Jua", sans-serif;
    background-color: var(--searchbg-color);
    color:var(--search-color);
    padding: 10px;
    width: 60%;
    max-width: 400px;
   height: 30px;
    border : 2px;
    outline: none;
    text-align: center;
    /* margin: 0 auto 0 auto; */
}

/* 검색버튼 */
button {
    font-family: "Jua", sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--bg-html-color);
    color: var(--search-color);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    padding: 10px 20px;
    cursor: pointer;
    color: var(--searchbg-color);
    background-color: var(--text-color);
    border: none;
    border-radius: 5px;
}
main .pp {
    color: var(--text-color);
    font-size: 20px;
    position: relative;
  padding: 0 0 10px 30px;
  border-bottom: 4px solid #fbe6a2;
}
  
.p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* 줄의 높이 */
    /* background-color: rgb(255, 252, 252);  */
    border-color: #fbe6a2;
  }줄의 색상

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#movies-container div {
    flex-basis: 20%; /*영화 포스터 이미지 임의로 조절*/
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
/* //// */
#movies-container img {
    width: 60%;
    height: auto;
}

movie-detail h2 {
    margin: 10px;
    background-color: green;
}

#movies-container h3 {
    margin: 10px;
}

#movies-container p {
    padding: 0 15px;
}

#movies-container span {
    font-weight: bold;
    display: block;
    margin: 10px 0;
}
.movie-card {
    border: 1px solid;
    border-color: var(--bg-html-color);
    margin: 10px;
    padding: 10px;
    width: calc(33% - 20px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.movie-card h3 {
    margin: 10px 0;
    color: var(--search-color);
    font-weight: bold;
}

.movie-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 0507 김태현 추가 - 3줄만 표시 그뒤내용은 ...으로 표시, hover시 전체 텍스트 출력*/
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--search-color);
}

.movie-card:hover p {
    -webkit-line-clamp: none; /* hover 시 모든 텍스트 표시 */
    height: auto;
    overflow:visible;
}

.movie-card:hover img {
    opacity: 0; /* 마우스 오버 시 이미지 숨김 */
    display: none; /* 이미지를 완전히 제거 */
}

.movie-card:hover .rating {
    display: none !important; /* 0507 김태현 추가 마우스 오버 시 평점 숨김, 그냥 display:none을 적용하니 css스타일이 적용이 안되서 important 규칙 적용했습니다  */ 
}

.movie-card span {
    font-weight: bold;
    /* color: #0056b3; */
    color: #fbe6a2;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.movie-card {
    flex: 0 0 auto; /* 카드의 크기가 변하지 않도록 설정 */
    width: 200px; /* 카드의 너비를 줄임 */
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    min-width: 200px; /* 검색시 카드가 작아지는걸 방지 */
}

.movie-card img {
    width: 100%;
    height: 200px; /* 이미지 높이 설정 */
    object-fit: cover;
    border-radius: 5px;
}

.trend-scroll-container {
    white-space: nowrap; /*포스터 가로로 정렬*/
}
.image-button {
    cursor: pointer;
    transition: transform 0.3s;
  }
  .image-button:hover {
    transform: scale(1.1);
  }
  .image-button:active {
    transform: scale(0.9);
  }